* {
    background-image: none;
    font-size: 16px;
}


window {
  /*background-image: url("icons/image.png");*/
  background-color: rgba(40,40,40,0.6);
}

button {
    color: #e2cca9;
    background-color: rgba(40, 40, 40, 0.9);
    outline-style: none;
    border: none;
    border-width: 0px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10%;
    border-radius: 50px;
    box-shadow: none;
    text-shadow: none;
    animation: gradient_f 20s ease-in infinite;
}

button:focus {
    background-color: rgba(90,82,76,0.7);
    border-radius: 40px;
}

button:hover {
    background-color: rgba(90,82,76,0.9);
    background-size: 25%;
    border-radius: 20px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,0.0,.28,1.682);
}


button:hover#lock {
    border-radius: 20px 20px 0px 10px;
    margin : -50px 0px 0px -50px;
}

button:hover#logout {
    border-radius: 20px 0px 20px 20px;
    margin : 0px 0px -50px -50px;
}

button:hover#shutdown {
    border-radius: 20px 20px 20px 0px;
    margin : -50px -50px 0px 0px;
}

button:hover#reboot {
    border-radius: 0px 20px 20px 20px;
    margin : 0px -50px -50px 0px;
}

#lock {
    background-image: url("icons/lock_black.png");
    border-radius: 30px 0px 0px 0px;
    margin : 1px 0px 0px 1px;
}

#logout {
    background-image: url("icons/logout_black.png");
    border-radius: 0px 0px 0px 30px;
    margin : 0px 0px 1px 1px;
}

#shutdown {
    background-image: url("icons/shutdown_black.png");
    border-radius: 0px 30px 0px 0px;
    margin : 1px 1px 0px 0px;
}

#reboot {
    background-image: url("icons/reboot_black.png");
    border-radius: 0px 0px 30px 0px;
    margin : 0px 1px 1px 0px;
}
